#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

body {
  align-items: start !important;
  justify-items: start !important;
}

.banner {
  background-color: rgb(191, 155, 48);
  width: 100vw;
  margin: 0px;
  color: white;
  padding: 20px;
}

.banner--lowered {
  position: relative;
  top: 30px;
}

.drawer--active {
  background-color: rgba(22, 58, 132, 1);
}
